LANGSMITH_API_KEY='your LangSmith API key here'
LANGSMITH_TRACING=true # Set to true to enable LangSmith tracing
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="your LangSmith project name here"

OPENAI_API_KEY="your OpenAI API key here"